    // Made by Sunny Kumar, IIT Guwahati, 2024 (SunnyK9325)

    .container {
        display: flex;

        .header {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 5px 8px;
            height: 23px;
            border-bottom: 2px solid rgb(226, 219, 219);

            .icon {
                flex: 45%;
                font-size: 15px;
                cursor: pointer;
            }

            .title {
                flex: 55%;
                font-size: 13px;
            }

        }

        .textHolder {
            display: flex;
            flex-direction: column;
            padding: 23px 8px;
            min-height: 110px;
            border-bottom: 2px solid rgb(226, 219, 219);

            span {
                font-size: 14px;
                color: gray;
                margin-bottom: 15px;
            }

            textarea {
                min-height: 80px;
                padding: 10px;
                border: 1px solid rgb(226, 219, 219);
                border-radius: 5px;
                box-sizing: border-box;
                min-width: 100%;
                resize: vertical;
                font-family: "Roboto", sans-serif;
            }
        }
    }